<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% block page_title %}{{ config.title | default("bucket3") }}{% endblock page_title %}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    {% block page_meta %}{% endblock page_meta %}
  </head>
  <body>
    <header>
      <div class="header-inner">
        <a class="brand" href="/">
          <img class="brand-avatar" src="/img/icon.png" alt="">
          <span>{{ config.title | default("bucket3") }}</span>
        </a>
        <nav>
          <a href="{{ config.base_url | default('/') }}">Home</a>
          <a href="{{ config.base_url | default('/') }}archive/">Archive</a>
          <a href="{{ config.base_url | default('/') }}tag/">Tags</a>
          <a href="{{ feed_url }}">RSS</a>
        </nav>
      </div>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <div>Powered by <a href="https://bucket3.com">bucket3</a>.</div>
    </footer>
  </body>
</html>
